{%- liquid
  assign options = block.settings
  assign option_type = options.option_type
  assign show_swatches = options.show_swatches

  assign primary_option_names = settings.primary_option_name | downcase | split: ','
  assign primary_option_name_downcase = blank

  for name in primary_option_names
    assign name_striped = name | strip
    if product.options_by_name[name_striped] != blank
      assign primary_option_name_downcase = name_striped
      break
    endif
  endfor

  assign secondary_option_names = settings.secondary_option_names | newline_to_br | split: '<br />'

  assign block_option_name_downcase = block.settings.option_name | downcase
  assign information_drawer_button_label = block.settings.information_drawer_button_label
  assign information_drawer_button_position = block.settings.information_drawer_button_position
  assign information_drawer_icon_type = block.settings.information_drawer_icon_type
  assign information_drawer_button_icon = block.settings.information_drawer_button_icon
  assign information_drawer_button_custom_icon = block.settings.information_drawer_button_custom_icon

  assign hide_single_value_options = block.settings.hide_single_value_options
  assign show_variant_picker = true

  if hide_single_value_options
    assign show_variant_picker = false

    for option in product.options_with_values
      for value in option.values
        if option.values.size > 1
          assign show_variant_picker = true
          break
        endif
      endfor
    endfor
  endif
-%}

{% if information_drawer_button_label != blank
  or information_drawer_icon_type != 'none'
  or information_drawer_button_custom_icon != blank
%}
  {% capture drawer_button %}
    <sidebar-button class='product-variant-picker__popup-toggle-wrapper {% if information_drawer_button_position != 'left' %}product-variant-picker__popup-toggle-wrapper--right{% endif %}'>
      <button
        data-sidebar-button
        data-sidebar-id='product-variant-picker-popup-{{ product.id }}-{{ sectionId }}'
        class='unstyled-button product-variant-picker__popup-toggle'
        type='button'
      >
        {% if information_drawer_icon_type != 'none' %}
          {% if information_drawer_icon_type == 'custom' and information_drawer_button_custom_icon != blank %}
            <img
              {% render 'image-attributes',
                image: information_drawer_button_custom_icon,
                size: 'xsmall',
                class: 'product-variant-picker__popup-toggle-icon'
              %}
            >
          {% elsif information_drawer_icon_type == 'preset' %}
            {% render 'icon-pack', icon: information_drawer_button_icon, class: 'product-variant-picker__popup-toggle-icon' %}
          {% endif %}
        {% endif %}

        <span>{{ information_drawer_button_label }}</span>
      </button>
    </sidebar-button>
  {% endcapture %}
{% endif %}

{% if show_variant_picker %}
  {%- if product != blank and product.has_only_default_variant == false -%}
    <variant-picker
      data-product-block='{{ block.id }}'
      class='product-variant-picker block-{{ block.id }} {% if block.settings.option_type contains 'dropdown' %}product-variant-picker--with-dropdown-options{% endif %}'
      data-section='{{ sectionId }}'
      data-section-id-without-prefix='{{ section.id }}'
      data-product-id='{{ product.id }}'
      data-url='{{ product.url }}'
      id='product-variant-picker-{{ sectionId }}'
      data-update-url='{% if sectionId contains 'MainSection' %}true{% else %}false{% endif %}'
      {% if section.settings.show_variant_media_by_featured_order %}
        data-product-media-filtering-option
      {% elsif section.settings.show_only_selected_variants and media_array.size != product.media.size %}
        data-product-media-filtering-option
      {% endif %}
      {% if product.selected_variant != blank %}
        data-selected-variant='{{ product.selected_variant.id }}'
        {% if product.selected_variant.featured_media != blank %}
          data-selected-variant-image-id='{{ product.selected_variant.featured_media.id }}'
        {% elsif product.selected_variant.featured_image != blank %}
          data-selected-variant-image-id='{{ product.selected_variant.featured_image.id }}'
        {% endif %}
      {% endif %}
      {{ block.shopify_attributes }}
    >
      <div class='product-variant-picker__form'>
        {%- for option in product.options_with_values -%}
          <div data-variant-picker-option-inputs>
            {{ option.name }}

            {%- for value in option.values -%}
              <div>
                <input
                  type='radio'
                  id='{{ sectionId }}-{{ product.id }}-{{ option.position }}-{{ forloop.index0 }}'
                  name='{{ option.name }}-{{ option.position }}'
                  value='{{ value | escape }}'
                  form='product-form-{{ product.id }}-{{ sectionId }}'
                  data-value-id='{{ value.id }}'
                  data-product-url='{{ value.product_url }}'
                  {% if value.selected %}
                    checked
                  {% endif %}
                >
                {{ value }}
              </div>
            {%- endfor -%}
          </div>
        {%- endfor -%}
      </div>

      <div class='product-variant-picker__list'>
        {%- for option in product.options_with_values -%}
          {% liquid
            assign option_name_downcase = option.name | downcase
            assign color_option_picker_type = ''

            assign is_swatch = false
            assign is_primary_swatch = false

            if option_name_downcase == primary_option_name_downcase and show_swatches
              assign is_primary_swatch = true
              assign is_swatch = true
            else
              for secondary_option_name in secondary_option_names
                assign secondary_option_name_downcase = secondary_option_name | downcase | strip

                if secondary_option_name_downcase == option_name_downcase and show_swatches
                  assign is_swatch = true

                  break
                endif
              endfor
            endif

            assign swatch_count = option.values | map: 'swatch' | compact | size
            if swatch_count > 0 and show_swatches
              assign is_swatch = true
              assign is_primary_swatch = true
            endif

            if is_swatch
              if is_primary_swatch
                assign color_option_picker_type = block.settings.primary_swatch_option_type
              else
                assign color_option_picker_type = block.settings.secondary_swatch_option_type
              endif
            endif

            assign use_svg_row_for_option = false
            if block.settings.enable_option_svg_row and block.settings.option_svg_target_name != blank
              assign svg_target = block.settings.option_svg_target_name | strip | downcase
              if svg_target == option_name_downcase
                assign use_svg_row_for_option = true
              endif
            endif
          %}

          <div
            class='{% if hide_single_value_options == true and option.values.size < 2 %}visually-hidden{% endif %}'
            data-variant-picker-option-labels
            option-picker-name='{{ option.name }}'
          >
            {%- if is_swatch -%}
              {%-
                render 'product-color-swatches',
                product: product,
                option: option,
                color_option_picker_type: color_option_picker_type,
                is_primary_swatch: is_primary_swatch,
                block: block,
                sectionId: sectionId,
              -%}
            {%- elsif use_svg_row_for_option -%}
              {%-
                render 'product-variant-option-svg-row',
                product: product,
                option: option,
                block: block,
                sectionId: sectionId,
                block_option_name_downcase: block_option_name_downcase,
                drawer_button: drawer_button
              -%}
            {%- elsif block.settings.option_type contains 'button' -%}
              <div class='product-variant-picker__option-label'>
                <span class='heading-font-family'>{{ option.name }}</span>

                {%- assign option_name_downcase = option.name | downcase -%}

                {%- if block_option_name_downcase == option_name_downcase -%}
                  {{ drawer_button }}
                {%- endif -%}
              </div>

              <div class='product-variant-picker__pill-list'>
                {%- for value in option.values -%}
                  <label
                    for='{{ sectionId }}-{{ product.id }}-{{ option.position }}-{{ forloop.index0 }}'
                    class='pill pill--large {% if value.selected %} selected {% endif %} {% if option_type == 'button-outline' %} pill--outline {% elsif option_type == 'button-solid' %} pill--solid {% elsif option_type == 'button-underline' %} pill--underline {% endif %}'
                    {% if value.selected %}
                      tabindex='0'
                    {% endif %}
                    {% unless value.available %}
                      no-available
                    {% endunless %}
                  >
                    <span class='pill__label'>{{ value }}</span>
                  </label>
                {%- endfor -%}
              </div>

            {%- else -%}
              <div class='product-variant-picker__option-label'>
                <span class='heading-font-family'>{{ option.name }}</span>

                {%- assign option_name_downcase = option.name | downcase -%}

                {%- if block_option_name_downcase == option_name_downcase -%}
                  {{ drawer_button }}
                {%- endif -%}
              </div>
              <dropdown-opener
                class='variant-picker-dropdown__toggle {% if option_type == 'dropdown-underline' %} variant-picker-dropdown__toggle--underline {% elsif option_type == 'dropdown-outline' %} variant-picker-dropdown__toggle--outline {% elsif option_type == 'dropdown-solid' %} variant-picker-dropdown__toggle--solid {% endif %}'
                data-aria-expanded='false'
                data-float-element-id='variant-picker-dropdown-{{ sectionId }}-{{ product.id }}-{{ option.position }}-{{ forloop.index0 }}'
                data-trigger='click'
                tabindex='0'
                {% if sectionId contains 'QuickView' %}
                  data-set-width
                {% endif %}
              >
                <div class='variant-picker-dropdown__toggle-label' data-dropdown-variant-picker-label>
                  <span>{{ option.selected_value }}</span>
                </div>
                {%- render 'icon', icon_name: 'chevron', class: 'variant-picker-dropdown__chevron' -%}
              </dropdown-opener>
              <float-element
                class='variant-picker-dropdown {% if option_type == 'dropdown-underline' %} variant-picker-dropdown--underline {% elsif option_type == 'dropdown-outline' %} variant-picker-dropdown--outline {% elsif option_type == 'dropdown-solid' %} variant-picker-dropdown--solid {% endif %}'
                aria-hidden='true'
                id='variant-picker-dropdown-{{ sectionId }}-{{ product.id }}-{{ option.position }}-{{ forloop.index0 }}'
                data-placement='bottom-start'
                data-main-axis-offset='{% if settings.round_level != "0" %} 8{% else %} 0{% endif %}'
                data-strategy='fixed'
                {% if sectionId contains 'QuickView' %}
                  data-with-portal
                {% endif %}
              >
                <template data-float-element-template='variant-picker-dropdown-{{ sectionId }}-{{ product.id }}-{{ option.position }}-{{ forloop.index0 }}'>
                  <div class='variant-picker-dropdown__body'>
                    {%- for value in option.values -%}
                      <label
                        class='variant-picker-dropdown__item {% if value.selected %} selected {% endif %}'
                        for='{{ sectionId }}-{{ product.id }}-{{ option.position }}-{{ forloop.index0 }}'
                        tabindex='0'
                        data-focus-trap-target
                        {% unless value.available %}
                          no-available
                        {% endunless %}
                      >
                        <span>{{ value }}</span>
                      </label>
                    {%- endfor -%}
                  </div>
                </template>
              </float-element>
            {%- endif -%}
          </div>
        {%- endfor -%}
      </div>

      <script type='application/json' data-selected-variant-json>
        {{ product.selected_or_first_available_variant | json }}
      </script>
    </variant-picker>
  {%- endif -%}
{% endif %}

{%- if block.settings.enable_bundle and product != blank and product.has_only_default_variant == false -%}
  {%- liquid
    assign bundle_primary_pos = nil
    assign bundle_primary_name = ''
    for option in product.options_with_values
      assign opt_d = option.name | downcase
      if opt_d == primary_option_name_downcase
        assign bundle_primary_pos = option.position
        assign bundle_primary_name = option.name
        break
      endif
    endfor

    if bundle_primary_pos == nil and product.options.size > 0
      assign bundle_primary_pos = 1
      assign bundle_primary_name = product.options[0]
    endif

    assign bundle_btn_label = block.settings.bundle_button_label | default: 'Læg i kurv'
    assign bundle_btn_style = block.settings.bundle_button_style | default: 'primary'

    assign bundle_size_option = nil
    assign bundle_size_pos = nil
    for option in product.options_with_values
      if option.position != bundle_primary_pos
        assign bundle_size_option = option
        assign bundle_size_pos = option.position
        break
      endif
    endfor

    assign step_count = 0
    if block.settings.bundle_step_1_label != blank
      assign step_count = 1
    endif
    if block.settings.bundle_step_2_label != blank
      assign step_count = 2
    endif
    if block.settings.bundle_step_3_label != blank
      assign step_count = 3
    endif
    if block.settings.bundle_step_4_label != blank
      assign step_count = 4
    endif
  -%}

  {%- liquid
    assign sel_v = product.selected_or_first_available_variant
    assign single_price_display = sel_v.price | money
    assign single_compare_display = nil
    if sel_v.compare_at_price > sel_v.price
      assign single_compare_display = sel_v.compare_at_price | money
    endif

    assign pack_compare_display = sel_v.price | money

    assign lowest_tier_unit = block.settings.bundle_step_1_unit_price | default: 0
    if block.settings.bundle_step_2_unit_price > 0
      if block.settings.bundle_step_2_unit_price < lowest_tier_unit or lowest_tier_unit == 0
        assign lowest_tier_unit = block.settings.bundle_step_2_unit_price
      endif
    endif
    if block.settings.bundle_step_3_unit_price > 0
      if block.settings.bundle_step_3_unit_price < lowest_tier_unit or lowest_tier_unit == 0
        assign lowest_tier_unit = block.settings.bundle_step_3_unit_price
      endif
    endif
    if block.settings.bundle_step_4_unit_price > 0
      if block.settings.bundle_step_4_unit_price < lowest_tier_unit or lowest_tier_unit == 0
        assign lowest_tier_unit = block.settings.bundle_step_4_unit_price
      endif
    endif

    assign pack_sublabel = block.settings.bundle_pack_sublabel
    if pack_sublabel == blank and lowest_tier_unit > 0
      assign pack_sublabel = 'Helt ned til ' | append: lowest_tier_unit | append: ' kr per stk'
    endif

    assign selector_heading = block.settings.bundle_selector_heading | default: 'Køb mere, spar mere'
    assign single_label = block.settings.bundle_single_label | default: '1 stk'
    assign single_sublabel = block.settings.bundle_single_sublabel | default: 'Standard pris'
    assign pack_label = block.settings.bundle_pack_label | default: 'Pakkepris'
    assign pack_badge = block.settings.bundle_pack_badge
  -%}

  {% capture bundle_css %}
    {% style %}
      /* Color option picker hidden via JS in bundle mode */

      .bpk-{{ block.id }} { margin-top: 12px; }

      /* ── Mode selector ── */
      .bpk-{{ block.id }} .bpk__ms-heading {
        display: flex;
        align-items: center;
        gap: 14px;
        margin-top: 24px;
        margin-bottom: 12px;
        font-family: var(--gsc-headings-font-family);
        font-weight: var(--gsc-headings-font-weight, 600);
        font-size: calc(1.35rem * var(--gsc-body-font-scale));
        color: var(--gsc-text-color-100);
        text-align: center;
      }
      .bpk-{{ block.id }} .bpk__ms-heading::before,
      .bpk-{{ block.id }} .bpk__ms-heading::after {
        content: '';
        flex: 1;
        height: 1px;
        background: var(--gsc-text-color-100);
      }
      .bpk-{{ block.id }} .bpk__ms-cards { display: flex; flex-direction: column; gap: 8px; }
      .bpk-{{ block.id }} .bpk__ms-card {
        position: relative;
        display: flex;
        align-items: center;
        gap: 12px;
        padding: 14px 16px;
        background: var(--gsc-foreground-color-5);
        border: 2px solid transparent;
        border-radius: var(--gsc-card-border-radius, 8px);
        cursor: pointer;
        transition: border-color 0.2s, box-shadow 0.2s;
      }
      .bpk-{{ block.id }} .bpk__ms-card:hover { border-color: var(--gsc-border-color-100); }
      .bpk-{{ block.id }} .bpk__ms-card--active {
        border-color: var(--gsc-primary-button-bg-color);
        box-shadow: 0 0 0 1px var(--gsc-primary-button-bg-color);
      }
      .bpk-{{ block.id }} .bpk__ms-card input[type="radio"] { display: none; }
      .bpk-{{ block.id }} .bpk__ms-radio {
        width: 20px; height: 20px; flex-shrink: 0;
        border-radius: 50%;
        border: 2px solid var(--gsc-border-color-100);
        background: var(--gsc-background-color, #fff);
        position: relative;
        transition: border-color 0.2s;
      }
      .bpk-{{ block.id }} .bpk__ms-card--active .bpk__ms-radio {
        border-color: var(--gsc-primary-button-bg-color);
      }
      .bpk-{{ block.id }} .bpk__ms-card--active .bpk__ms-radio::after {
        content: '';
        position: absolute;
        top: 3px; left: 3px; right: 3px; bottom: 3px;
        border-radius: 50%;
        background: var(--gsc-primary-button-bg-color);
      }
      .bpk-{{ block.id }} .bpk__ms-info { flex: 1; min-width: 0; }
      .bpk-{{ block.id }} .bpk__ms-label {
        display: block;
        font-family: var(--gsc-headings-font-family);
        font-weight: var(--gsc-headings-font-weight, 600);
        font-size: calc(1.4rem * var(--gsc-body-font-scale));
        color: var(--gsc-text-color-100);
        line-height: 1.3;
      }
      .bpk-{{ block.id }} .bpk__ms-sub {
        display: block;
        font-family: var(--gsc-body-font-family);
        font-size: calc(1.1rem * var(--gsc-body-font-scale));
        color: var(--gsc-text-color-70);
        margin-top: 1px;
      }
      .bpk-{{ block.id }} .bpk__ms-prices { text-align: right; flex-shrink: 0; }
      .bpk-{{ block.id }} .bpk__ms-price {
        display: block;
        font-family: var(--gsc-headings-font-family);
        font-weight: var(--gsc-headings-font-weight, 600);
        font-size: calc(1.5rem * var(--gsc-body-font-scale));
        color: var(--gsc-text-color-100);
        line-height: 1.2;
      }
      .bpk-{{ block.id }} .bpk__ms-compare {
        display: block;
        font-family: var(--gsc-body-font-family);
        font-size: calc(1.1rem * var(--gsc-body-font-scale));
        color: var(--gsc-text-color-70);
        text-decoration: line-through;
        margin-top: 1px;
      }
      .bpk-{{ block.id }} .bpk__ms-badge {
        position: absolute;
        top: -8px; right: 12px;
        padding: 3px 10px;
        font-family: var(--gsc-body-font-family);
        font-size: 11px;
        font-weight: 700;
        color: var(--gsc-primary-button-text-color);
        background: var(--gsc-primary-button-bg-color);
        border-radius: 4px;
        line-height: 1.5;
        white-space: nowrap;
      }

      /* ── Bundle content (hidden in single mode) ── */
      .bpk-{{ block.id }} .bpk__bundle-content { display: none; margin-top: 16px; }
      .bpk-{{ block.id }}[data-mode="bundle"] .bpk__bundle-content { display: block; }

      /* ── Size filter tabs ── */
      .bpk-{{ block.id }} .bpk__size-tabs {
        display: flex; gap: 0.5rem 1.5rem; flex-wrap: wrap; align-items: flex-start; margin-bottom: 12px;
      }
      .bpk-{{ block.id }} .bpk__size-tab {
        display: flex; flex-direction: column; align-items: center; gap: 4px;
        padding: 0; border: none; background: transparent; cursor: pointer;
        font-family: var(--gsc-body-font-family);
        color: var(--gsc-text-color-70); transition: opacity 0.2s;
        opacity: 0.55; min-width: 3.25rem;
      }
      .bpk-{{ block.id }} .bpk__size-tab:hover { opacity: 0.85; }
      .bpk-{{ block.id }} .bpk__size-tab--active { opacity: 1; color: var(--gsc-text-color-100); }
      .bpk-{{ block.id }} .bpk__size-tab-icon {
        width: 5.5rem; height: 5.5rem; object-fit: contain;
        transition: opacity 0.15s, filter 0.15s;
      }
      .bpk-{{ block.id }} .bpk__size-tab--active .bpk__size-tab-icon { filter: brightness(0); }
      .bpk-{{ block.id }} .bpk__size-tab-label {
        font-size: 14px; font-weight: 500; line-height: 1.3;
        color: #333; transition: color 0.15s, font-weight 0.15s;
      }
      .bpk-{{ block.id }} .bpk__size-tab--active .bpk__size-tab-label {
        color: #000; font-weight: 600;
      }

      /* ── Step slider ── */
      .bpk-{{ block.id }} .bpk__slider {
        background: var(--gsc-foreground-color-5);
        border-radius: var(--gsc-card-border-radius, 8px);
        padding: 20px 24px 16px;
        margin-bottom: 16px;
      }
      .bpk-{{ block.id }} .bpk__slider-track {
        position: relative; display: flex; align-items: center;
        justify-content: space-between; margin-bottom: 6px;
      }
      .bpk-{{ block.id }} .bpk__slider-track::before {
        content: ''; position: absolute; top: 50%; left: 0; right: 0;
        height: 2px; background: var(--gsc-border-color-100);
        transform: translateY(-50%); z-index: 0;
      }
      .bpk-{{ block.id }} .bpk__slider-fill {
        position: absolute; top: 50%; left: 0; height: 2px;
        background: var(--gsc-primary-button-bg-color);
        transform: translateY(-50%); z-index: 1; transition: width 0.35s ease;
      }
      .bpk-{{ block.id }} .bpk__slider-dot-wrap {
        position: relative; z-index: 2; flex: 0 0 auto;
        display: flex; align-items: center;
      }
      .bpk-{{ block.id }} .bpk__slider-dot {
        width: 18px; height: 18px; min-height: 18px; border-radius: 50%; flex-shrink: 0;
        border: 2px solid var(--gsc-border-color-100);
        background: var(--gsc-background-color, #fff);
        transition: border-color 0.25s, background 0.25s, box-shadow 0.25s;
      }
      .bpk-{{ block.id }} .bpk__slider-dot--reached {
        border-color: var(--gsc-primary-button-bg-color);
        background: var(--gsc-primary-button-bg-color);
      }
      .bpk-{{ block.id }} .bpk__slider-dot--current {
        border-color: var(--gsc-primary-button-bg-color);
        background: var(--gsc-primary-button-bg-color);
        box-shadow: 0 0 0 3px var(--gsc-background-color, #fff), 0 0 0 5px var(--gsc-primary-button-bg-color);
      }
      .bpk-{{ block.id }} .bpk__slider-labels { display: flex; justify-content: space-between; margin-top: 4px; }
      .bpk-{{ block.id }} .bpk__slider-label-group { flex: 1 1 0%; text-align: center; }
      .bpk-{{ block.id }} .bpk__slider-label-group:first-child { text-align: left; }
      .bpk-{{ block.id }} .bpk__slider-label-group:last-child { text-align: right; }
      .bpk-{{ block.id }} .bpk__slider-label {
        display: block; font-family: var(--gsc-body-font-family);
        font-size: calc(1.2rem * var(--gsc-body-font-scale));
        font-weight: var(--gsc-headings-font-weight, 600); color: var(--gsc-text-color-100);
      }
      .bpk-{{ block.id }} .bpk__slider-price {
        display: block; font-family: var(--gsc-body-font-family);
        font-size: calc(1.1rem * var(--gsc-body-font-scale));
        color: var(--gsc-text-color-70); margin-top: 1px;
      }

      /* ── Product list ── */
      .bpk-{{ block.id }} .bpk__list { display: flex; flex-direction: column; gap: 8px; }
      .bpk-{{ block.id }} .bpk__item {
        display: flex; align-items: center; gap: 12px; padding: 10px;
        background: var(--gsc-foreground-color-5);
        border-radius: var(--gsc-card-border-radius, 8px); transition: box-shadow 0.2s;
      }
      .bpk-{{ block.id }} .bpk__item[hidden] { display: none; }
      .bpk-{{ block.id }} .bpk__item--selected { box-shadow: inset 0 0 0 2px var(--gsc-primary-button-bg-color); }
      .bpk-{{ block.id }} .bpk__item--unavailable { opacity: 0.35; pointer-events: none; }
      .bpk-{{ block.id }} .bpk__item-img {
        width: 72px; height: 72px; flex-shrink: 0;
        border-radius: calc(var(--gsc-card-border-radius, 8px) * 0.6);
        overflow: hidden; position: relative;
      }
      .bpk-{{ block.id }} .bpk__item-img img { width: 100%; height: 100%; object-fit: cover; display: block; }
      .bpk-{{ block.id }} .bpk__item-info { flex: 1; min-width: 0; }
      .bpk-{{ block.id }} .bpk__item-name {
        font-family: var(--gsc-headings-font-family);
        font-weight: var(--gsc-headings-font-weight, 600);
        font-size: calc(1.35rem * var(--gsc-body-font-scale));
        color: var(--gsc-text-color-100); display: block; line-height: 1.3;
      }
      .bpk-{{ block.id }} .bpk__item-tag {
        display: inline-block; padding: 1px 6px;
        font-family: var(--gsc-body-font-family); font-size: 10px;
        color: var(--gsc-text-color-70); border: 1px solid var(--gsc-border-color-100);
        border-radius: 3px; margin-top: 3px;
      }
      .bpk-{{ block.id }} .bpk__item-desc {
        display: block; font-family: var(--gsc-body-font-family);
        font-size: calc(1.1rem * var(--gsc-body-font-scale));
        color: var(--gsc-text-color-70); margin-top: 2px; line-height: 1.3;
      }
      .bpk-{{ block.id }} .bpk__item-price { margin-top: 4px; }
      .bpk-{{ block.id }} .bpk__item-price-current {
        display: inline; font-family: var(--gsc-headings-font-family);
        font-weight: var(--gsc-headings-font-weight, 600);
        font-size: calc(1.2rem * var(--gsc-body-font-scale));
        color: var(--gsc-text-color-100); white-space: nowrap;
      }
      .bpk-{{ block.id }} .bpk__item-price-compare {
        display: none; font-family: var(--gsc-body-font-family);
        font-size: calc(1rem * var(--gsc-body-font-scale));
        color: var(--gsc-text-color-70); text-decoration: line-through; white-space: nowrap;
        margin-left: 6px;
      }
      .bpk-{{ block.id }} .bpk__item-action { flex-shrink: 0; }
      .bpk-{{ block.id }} .bpk__item-add {
        display: inline-flex; align-items: center; gap: 4px; padding: 8px 14px;
        font-family: var(--gsc-button-font-family); font-weight: var(--gsc-button-font-weight);
        font-size: calc(var(--gsc-button-font-size) * 0.85);
        letter-spacing: var(--gsc-button-letter-spacing);
        color: var(--gsc-primary-button-text-color);
        background: var(--gsc-primary-button-bg-color);
        border: none; border-radius: var(--gsc-card-border-radius, 8px);
        cursor: pointer; transition: background 0.2s; white-space: nowrap;
      }
      .bpk-{{ block.id }} .bpk__item-add:hover { background: var(--gsc-primary-button-bg-hover); }
      .bpk-{{ block.id }} .bpk__item-qty { display: flex; align-items: center; gap: 8px; }
      .bpk-{{ block.id }} .bpk__qty-btn {
        display: inline-flex; align-items: center; justify-content: center;
        width: 32px; height: 32px; border-radius: 50%; border: none;
        font-size: 16px; line-height: 1; cursor: pointer; padding: 0;
        font-family: var(--gsc-body-font-family);
        color: var(--gsc-primary-button-text-color);
        background: var(--gsc-primary-button-bg-color);
        transition: background 0.15s, opacity 0.15s;
      }
      .bpk-{{ block.id }} .bpk__qty-btn:hover { background: var(--gsc-primary-button-bg-hover); }
      .bpk-{{ block.id }} .bpk__qty-btn:disabled { opacity: 0.3; cursor: not-allowed; }
      .bpk-{{ block.id }} .bpk__qty-count {
        font-family: var(--gsc-body-font-family);
        font-size: calc(1.4rem * var(--gsc-body-font-scale));
        font-weight: var(--gsc-headings-font-weight, 600);
        min-width: 16px; text-align: center;
      }

      /* ── Pricing ── */
      .bpk-{{ block.id }} .bpk__pricing { text-align: center; margin-top: 14px; font-family: var(--gsc-body-font-family); }
      .bpk-{{ block.id }} .bpk__price-detail { font-size: calc(1.25rem * var(--gsc-body-font-scale)); color: var(--gsc-text-color-70); }
      .bpk-{{ block.id }} .bpk__price-total { font-size: calc(1.6rem * var(--gsc-body-font-scale)); font-weight: var(--gsc-headings-font-weight, 600); color: var(--gsc-text-color-100); margin-top: 2px; }
      .bpk-{{ block.id }} .bpk__price-save { font-size: calc(1.15rem * var(--gsc-body-font-scale)); color: var(--gsc-sale-text-color, #e53935); margin-top: 2px; }

      /* ── CTA ── */
      .bpk-{{ block.id }} .bpk__cta { margin-top: 14px; }
      .bpk-{{ block.id }} .bpk__add-to-cart { width: 100%; }
      .bpk-{{ block.id }} .bpk__add-to-cart.loading .bpk__btn-text,
      .bpk-{{ block.id }} .bpk__add-to-cart.loading .bpk__btn-price { visibility: hidden; }
      .bpk-{{ block.id }} .bpk__add-to-cart .loading-spinner { display: none; }
      .bpk-{{ block.id }} .bpk__add-to-cart.loading .loading-spinner { display: block; }
    {% endstyle %}
  {% endcapture %}
  {% render 'inline-css-minifier', css: bundle_css %}

  <bundle-variant-picker class='bpk-{{ block.id }}' data-block-id='{{ block.id }}' data-primary-option-position='{{ bundle_primary_pos }}' data-primary-option-name='{{ bundle_primary_name | escape }}' {% if bundle_size_pos %}data-size-option-position='{{ bundle_size_pos }}'{% endif %} data-section-id='{{ sectionId }}' data-mode='single'>

    <!-- ── Mode selector ── -->
    <div class='bpk__ms-heading'>{{ selector_heading }}</div>
    <div class='bpk__ms-cards'>
      <label class='bpk__ms-card bpk__ms-card--active' data-mode-card='single'>
        <input type='radio' name='bundle-mode-{{ block.id }}' value='single' checked data-bundle-mode-input>
        <span class='bpk__ms-radio'></span>
        <div class='bpk__ms-info'>
          <span class='bpk__ms-label'>{{ single_label }}</span>
          <span class='bpk__ms-sub'>{{ single_sublabel }}</span>
        </div>
        <div class='bpk__ms-prices'>
          <span class='bpk__ms-price' data-ms-single-price>{{ single_price_display }}</span>
          <span class='bpk__ms-compare' data-ms-single-compare>{%- if single_compare_display -%}{{ single_compare_display }}{%- endif -%}</span>
        </div>
      </label>

      <label class='bpk__ms-card' data-mode-card='bundle'>
        {%- if pack_badge != blank -%}<span class='bpk__ms-badge'>{{ pack_badge }}</span>{%- endif -%}
        <input type='radio' name='bundle-mode-{{ block.id }}' value='bundle' data-bundle-mode-input>
        <span class='bpk__ms-radio'></span>
        <div class='bpk__ms-info'>
          <span class='bpk__ms-label'>{{ pack_label }}</span>
          <span class='bpk__ms-sub' data-ms-pack-sub>{%- if pack_sublabel != blank -%}{{ pack_sublabel }}{%- endif -%}</span>
        </div>
        <div class='bpk__ms-prices'>
          <span class='bpk__ms-price' data-ms-pack-price>{%- if lowest_tier_unit > 0 -%}{{ lowest_tier_unit | times: 100 | money }}{%- endif -%}</span>
          <span class='bpk__ms-compare' data-ms-pack-compare>{{ pack_compare_display }}</span>
        </div>
      </label>
    </div>

    <!-- ── Bundle content (shown when "bundle" is selected) ── -->
    <div class='bpk__bundle-content' data-bundle-content>

      {%- if step_count > 0 -%}
        <div class='bpk__slider'>
          <div class='bpk__slider-track'>
            <div class='bpk__slider-fill' data-slider-fill style='width: 0%;'></div>
            {%- if block.settings.bundle_step_1_label != blank -%}
              <div class='bpk__slider-dot-wrap'>
                <span class='bpk__slider-dot' data-tier-dot data-tier-count='{{ block.settings.bundle_step_1_count }}' data-tier-index='0'></span>
              </div>
            {%- endif -%}
            {%- if block.settings.bundle_step_2_label != blank -%}
              <div class='bpk__slider-dot-wrap'>
                <span class='bpk__slider-dot' data-tier-dot data-tier-count='{{ block.settings.bundle_step_2_count }}' data-tier-index='1'></span>
              </div>
            {%- endif -%}
            {%- if block.settings.bundle_step_3_label != blank -%}
              <div class='bpk__slider-dot-wrap'>
                <span class='bpk__slider-dot' data-tier-dot data-tier-count='{{ block.settings.bundle_step_3_count }}' data-tier-index='2'></span>
              </div>
            {%- endif -%}
            {%- if block.settings.bundle_step_4_label != blank -%}
              <div class='bpk__slider-dot-wrap'>
                <span class='bpk__slider-dot' data-tier-dot data-tier-count='{{ block.settings.bundle_step_4_count }}' data-tier-index='3'></span>
              </div>
            {%- endif -%}
          </div>
          <div class='bpk__slider-labels'>
            {%- if block.settings.bundle_step_1_label != blank -%}
              <div class='bpk__slider-label-group'>
                <span class='bpk__slider-label'>{{ block.settings.bundle_step_1_label }}</span>
                <span class='bpk__slider-price' data-tier-price-label='0'>{%- if bundle_size_option -%}fra {%- endif -%}{{ sel_v.price | money_without_trailing_zeros }}/stk</span>
              </div>
            {%- endif -%}
            {%- if block.settings.bundle_step_2_label != blank -%}
              <div class='bpk__slider-label-group'>
                <span class='bpk__slider-label'>{{ block.settings.bundle_step_2_label }}</span>
                <span class='bpk__slider-price' data-tier-price-label='1'>{%- if block.settings.bundle_step_2_unit_price > 0 -%}{{ block.settings.bundle_step_2_unit_price }} kr/stk{%- endif -%}</span>
              </div>
            {%- endif -%}
            {%- if block.settings.bundle_step_3_label != blank -%}
              <div class='bpk__slider-label-group'>
                <span class='bpk__slider-label'>{{ block.settings.bundle_step_3_label }}</span>
                <span class='bpk__slider-price' data-tier-price-label='2'>{%- if block.settings.bundle_step_3_unit_price > 0 -%}{{ block.settings.bundle_step_3_unit_price }} kr/stk{%- endif -%}</span>
              </div>
            {%- endif -%}
            {%- if block.settings.bundle_step_4_label != blank -%}
              <div class='bpk__slider-label-group'>
                <span class='bpk__slider-label'>{{ block.settings.bundle_step_4_label }}</span>
                <span class='bpk__slider-price' data-tier-price-label='3'>{%- if block.settings.bundle_step_4_unit_price > 0 -%}{{ block.settings.bundle_step_4_unit_price }} kr/stk{%- endif -%}</span>
              </div>
            {%- endif -%}
          </div>
        </div>
      {%- endif -%}

      {%- if bundle_size_option -%}
        <div class='bpk__size-tabs' data-bundle-tabs>
          {%- for sv in bundle_size_option.values -%}
            {%- liquid
              assign sv_norm = sv | strip | downcase
              assign sv_icon = blank
              assign m1 = block.settings.option_svg_match_1 | default: '' | strip | downcase
              assign m2 = block.settings.option_svg_match_2 | default: '' | strip | downcase
              assign m3 = block.settings.option_svg_match_3 | default: '' | strip | downcase
              assign m4 = block.settings.option_svg_match_4 | default: '' | strip | downcase
              assign m5 = block.settings.option_svg_match_5 | default: '' | strip | downcase
              assign m6 = block.settings.option_svg_match_6 | default: '' | strip | downcase
              if m1 != '' and sv_norm == m1 and block.settings.option_svg_image_1 != blank
                assign sv_icon = block.settings.option_svg_image_1
              elsif m2 != '' and sv_norm == m2 and block.settings.option_svg_image_2 != blank
                assign sv_icon = block.settings.option_svg_image_2
              elsif m3 != '' and sv_norm == m3 and block.settings.option_svg_image_3 != blank
                assign sv_icon = block.settings.option_svg_image_3
              elsif m4 != '' and sv_norm == m4 and block.settings.option_svg_image_4 != blank
                assign sv_icon = block.settings.option_svg_image_4
              elsif m5 != '' and sv_norm == m5 and block.settings.option_svg_image_5 != blank
                assign sv_icon = block.settings.option_svg_image_5
              elsif m6 != '' and sv_norm == m6 and block.settings.option_svg_image_6 != blank
                assign sv_icon = block.settings.option_svg_image_6
              endif
            -%}
            <button type='button' class='bpk__size-tab{% if forloop.first %} bpk__size-tab--active{% endif %}' data-bundle-tab='{{ sv | escape }}'>
              {%- if sv_icon != blank -%}
                <img class='bpk__size-tab-icon' src='{{ sv_icon | image_url: width: 200 }}' alt='' width='48' height='48' loading='lazy'>
              {%- endif -%}
              <span class='bpk__size-tab-label'>{{ sv }}</span>
            </button>
          {%- endfor -%}
        </div>
      {%- endif -%}

      <div class='bpk__list' data-bundle-list>
        {%- for v in product.variants -%}
          {%- liquid
            assign v_image = v.featured_image | default: product.featured_image
            assign v_primary_label = v.option1
            assign v_size_value = ''
            case bundle_primary_pos
              when 2
                assign v_primary_label = v.option2
              when 3
                assign v_primary_label = v.option3
            endcase
            if bundle_size_pos
              case bundle_size_pos
                when 1
                  assign v_size_value = v.option1
                when 2
                  assign v_size_value = v.option2
                when 3
                  assign v_size_value = v.option3
              endcase
            endif

            assign v_base_price = v.price | divided_by: 100.0

            assign v_tp_0 = v_base_price
            assign v_tp_1 = v_base_price
            assign v_tp_2 = v_base_price
            assign v_tp_3 = v_base_price

            assign v_match_label = v_size_value
            if v_match_label == blank
              assign v_match_label = v_primary_label
            endif

            for si in (1..5)
              assign si_name_key = 'bundle_size_' | append: si | append: '_name'
              assign si_name = block.settings[si_name_key] | default: ''
              assign si_name_d = si_name | strip | downcase
              assign sv_d = v_match_label | strip | downcase
              assign si_match = false
              if si_name != blank
                if si_name_d == sv_d
                  assign si_match = true
                elsif sv_d contains si_name_d
                  assign si_match = true
                elsif si_name_d contains sv_d
                  assign si_match = true
                endif
              endif
              if si_match
                assign si_t1_key = 'bundle_size_' | append: si | append: '_tier1'
                assign si_t2_key = 'bundle_size_' | append: si | append: '_tier2'
                assign si_t3_key = 'bundle_size_' | append: si | append: '_tier3'
                assign si_t4_key = 'bundle_size_' | append: si | append: '_tier4'
                assign si_t1 = block.settings[si_t1_key] | default: 0
                assign si_t2 = block.settings[si_t2_key] | default: 0
                assign si_t3 = block.settings[si_t3_key] | default: 0
                assign si_t4 = block.settings[si_t4_key] | default: 0
                if si_t1 > 0
                  assign v_tp_0 = si_t1
                endif
                if si_t2 > 0
                  assign v_tp_1 = si_t2
                endif
                if si_t3 > 0
                  assign v_tp_2 = si_t3
                endif
                if si_t4 > 0
                  assign v_tp_3 = si_t4
                endif
                break
              endif
            endfor
          -%}
          <div
            class='bpk__item {% unless v.available %}bpk__item--unavailable{% endunless %}'
            data-bundle-product
            data-variant-id='{{ v.id }}'
            data-option1='{{ v.option1 | escape }}'
            {% if v.option2 %}data-option2='{{ v.option2 | escape }}'{% endif %}
            {% if v.option3 %}data-option3='{{ v.option3 | escape }}'{% endif %}
            data-size-value='{{ v_match_label | escape }}'
            data-tier-prices='[{{ v_tp_0 }},{{ v_tp_1 }},{{ v_tp_2 }},{{ v_tp_3 }}]'
          >
            <div class='bpk__item-img'>
              {%- if v_image != blank -%}
                <img src='{{ v_image | image_url: width: 200 }}' alt='{{ v_primary_label | escape }}' width='72' height='72' loading='lazy'>
              {%- else -%}
                {{ 'product-4' | placeholder_svg_tag: 'placeholder-image' }}
              {%- endif -%}
            </div>
            <div class='bpk__item-info'>
              <span class='bpk__item-name'>{{ v_primary_label }}</span>
              {%- if v_size_value != blank -%}<span class='bpk__item-tag'>{{ v_size_value }}</span>{%- endif -%}
              <div class='bpk__item-price' data-bundle-item-price>
                <span class='bpk__item-price-current'></span>
                <span class='bpk__item-price-compare'></span>
              </div>
            </div>
            <div class='bpk__item-action'>
              <button type='button' class='bpk__item-add' data-bundle-add-one aria-label='Tilføj'>Tilføj +</button>
              <div class='bpk__item-qty' style='display:none;' data-bundle-qty-wrap>
                <button type='button' class='bpk__qty-btn' data-bundle-remove aria-label='Fjern'>−</button>
                <span class='bpk__qty-count' data-bundle-item-count>0</span>
                <button type='button' class='bpk__qty-btn' data-bundle-add aria-label='Tilføj'>+</button>
              </div>
            </div>
          </div>
        {%- endfor -%}
      </div>

      <div class='bpk__cta'>
        <button type='button' class='btn btn--md btn--{{ bundle_btn_style }} bpk__add-to-cart' data-bundle-add-to-cart disabled>
          <span class='bpk__btn-text'>{{ bundle_btn_label }}</span>
          <span class='bpk__btn-price' data-bundle-btn-price style='display:none;'>&nbsp;– <s data-bundle-btn-compare style='opacity:0.6;margin-right:4px;'></s><span data-bundle-btn-total></span></span>
          <div class='loading-spinner btn__loading-spinner'></div>
        </button>
      </div>
    </div>

    <script type='application/json' data-bundle-tiers>
      [
        {%- if block.settings.bundle_step_1_label != blank -%}
          { "count": {{ block.settings.bundle_step_1_count }}, "unitPrice": {{ block.settings.bundle_step_1_unit_price | default: 0 }}, "index": 0 }
        {%- endif -%}
        {%- if block.settings.bundle_step_2_label != blank -%}
          ,{ "count": {{ block.settings.bundle_step_2_count }}, "unitPrice": {{ block.settings.bundle_step_2_unit_price | default: 0 }}, "index": 1 }
        {%- endif -%}
        {%- if block.settings.bundle_step_3_label != blank -%}
          ,{ "count": {{ block.settings.bundle_step_3_count }}, "unitPrice": {{ block.settings.bundle_step_3_unit_price | default: 0 }}, "index": 2 }
        {%- endif -%}
        {%- if block.settings.bundle_step_4_label != blank -%}
          ,{ "count": {{ block.settings.bundle_step_4_count }}, "unitPrice": {{ block.settings.bundle_step_4_unit_price | default: 0 }}, "index": 3 }
        {%- endif -%}
      ]
    </script>
    <script type='application/json' data-bundle-size-pricing>{
      {%- assign bsp_sep = '' -%}
      {%- for i in (1..5) -%}
        {%- assign bsp_name_key = 'bundle_size_' | append: i | append: '_name' -%}
        {%- assign bsp_name = block.settings[bsp_name_key] -%}
        {%- if bsp_name != blank -%}
          {%- assign bsp_t1_key = 'bundle_size_' | append: i | append: '_tier1' -%}
          {%- assign bsp_t2_key = 'bundle_size_' | append: i | append: '_tier2' -%}
          {%- assign bsp_t3_key = 'bundle_size_' | append: i | append: '_tier3' -%}
          {%- assign bsp_t4_key = 'bundle_size_' | append: i | append: '_tier4' -%}
          {{ bsp_sep }}{{ bsp_name | json }}: [{{ block.settings[bsp_t1_key] | default: 0 }},{{ block.settings[bsp_t2_key] | default: 0 }},{{ block.settings[bsp_t3_key] | default: 0 }},{{ block.settings[bsp_t4_key] | default: 0 }}]
          {%- assign bsp_sep = ',' -%}
        {%- endif -%}
      {%- endfor -%}
    }</script>
    <script type='application/json' data-bundle-variant-prices>[{%- for v in product.variants -%}{%- unless forloop.first -%},{%- endunless -%}{"id":{{ v.id }},"price":{{ v.price }},"compare":{{ v.compare_at_price | default: 0 }},"options":[{%- for o in v.options -%}{%- unless forloop.first -%},{%- endunless -%}{{ o | json }}{%- endfor -%}]}{%- endfor -%}]</script>
  </bundle-variant-picker>

  <script>
    if (!customElements.get('bundle-variant-picker')) {
      class BundleVariantPicker extends HTMLElement {
        connectedCallback() {
          this.selectedItems = {};
          this.primaryPos = this.dataset.primaryOptionPosition || '1';
          this.sizePos = this.dataset.sizeOptionPosition || null;
          this.currentTab = 'all';
          this.items = this.querySelectorAll('[data-bundle-product]');
          this.addToCartBtn = this.querySelector('[data-bundle-add-to-cart]');
          this.btnPriceWrap = this.querySelector('[data-bundle-btn-price]');
          this.btnCompareEl = this.querySelector('[data-bundle-btn-compare]');
          this.btnTotalEl = this.querySelector('[data-bundle-btn-total]');
          this.sliderFill = this.querySelector('[data-slider-fill]');
          this.tierDots = this.querySelectorAll('[data-tier-dot]');

          this.defaultTiers = JSON.parse(this.querySelector('[data-bundle-tiers]')?.textContent || '[]');
          this.defaultTiers.sort((a, b) => a.count - b.count);
          this.tiers = this.defaultTiers.map(t => ({...t}));

          this.sizePricingMap = this._parseSizePricing(this.querySelector('[data-bundle-size-pricing]')?.textContent || '{}');
          this.variantPrices = JSON.parse(this.querySelector('[data-bundle-variant-prices]')?.textContent || '[]');

          this.msSinglePrice = this.querySelector('[data-ms-single-price]');
          this.msSingleCompare = this.querySelector('[data-ms-single-compare]');
          this.msPackPrice = this.querySelector('[data-ms-pack-price]');
          this.msPackCompare = this.querySelector('[data-ms-pack-compare]');
          this.msPackSub = this.querySelector('[data-ms-pack-sub]');

          this.modeCards = this.querySelectorAll('[data-mode-card]');
          this.modeInputs = this.querySelectorAll('[data-bundle-mode-input]');
          this._blocksFound = false;
          this.blocksToToggle = [];

          this.tabs = this.querySelectorAll('[data-bundle-tab]');

          this._computeMinTierPrices();
          this._updateProgressBarPrices();
          this._updatePackCard();

          this.modeInputs.forEach(input => {
            input.addEventListener('change', () => this.setMode(input.value));
          });

          this.tabs.forEach(tab => {
            tab.addEventListener('click', () => this.onTabChange(tab.dataset.bundleTab));
          });

          this.items.forEach(item => {
            item.querySelector('[data-bundle-add-one]')?.addEventListener('click', e => { e.stopPropagation(); this.addItem(item); });
            item.querySelector('[data-bundle-add]')?.addEventListener('click', e => { e.stopPropagation(); this.addItem(item); });
            item.querySelector('[data-bundle-remove]')?.addEventListener('click', e => { e.stopPropagation(); this.removeItem(item); });
          });

          this.addToCartBtn?.addEventListener('click', () => this.addToCart());

          const firstTab = this.querySelector('[data-bundle-tab]');
          this.onTabChange(firstTab ? firstTab.dataset.bundleTab : 'all');
        }

        _parseSizePricing(raw) {
          try { return JSON.parse(raw) || {}; } catch(e) { return {}; }
        }

        _computeMinTierPrices() {
          this.minTierPrices = this.defaultTiers.map((t, i) => {
            let min = t.unitPrice;
            for (const prices of Object.values(this.sizePricingMap)) {
              if (prices[i] > 0 && (prices[i] < min || min === 0)) min = prices[i];
            }
            return min;
          });
        }

        _updateProgressBarPrices(sizeFilter) {
          const hasSizes = Object.keys(this.sizePricingMap).length > 0;
          const isAll = !sizeFilter || sizeFilter === 'all';
          this.defaultTiers.forEach((t, i) => {
            const el = this.querySelector(`[data-tier-price-label="${t.index}"]`);
            if (!el) return;
            let price;
            if (i === 0) {
              if (isAll) {
                let min = 0;
                this.variantPrices.forEach(v => {
                  const p = v.price / 100;
                  if (p > 0 && (min === 0 || p < min)) min = p;
                });
                price = min;
              } else {
                let sizePrice = 0;
                this.items.forEach(item => {
                  if ((item.dataset.sizeValue || '') === sizeFilter) {
                    const v = this.variantPrices.find(vp => vp.id === parseInt(item.dataset.variantId));
                    if (v) {
                      const p = v.price / 100;
                      if (sizePrice === 0 || p < sizePrice) sizePrice = p;
                    }
                  }
                });
                price = sizePrice;
              }
            } else {
              if (!isAll && this.sizePricingMap[sizeFilter]) {
                price = this.sizePricingMap[sizeFilter][i] || t.unitPrice;
              } else {
                price = this.minTierPrices[i] || t.unitPrice;
              }
            }
            if (price > 0) {
              const prefix = hasSizes && isAll ? 'fra ' : '';
              el.textContent = prefix + this.fmtMoney(price) + '/stk';
            }
          });
        }

        _updatePackCard() {
          const lowest = this.minTierPrices.length ? Math.min(...this.minTierPrices.filter(p => p > 0)) : 0;
          if (this.msPackPrice && lowest > 0) this.msPackPrice.textContent = this.fmtMoney(lowest);
          if (this.msPackSub && lowest > 0) this.msPackSub.textContent = 'Helt ned til ' + lowest + ' kr per stk';
        }

        _updateSingleCardPrices() {
          const sel = {};
          const vp = this.closest('[data-product-block]')?.closest('.product__info')?.querySelector('variant-picker')
            || document.querySelector('variant-picker');
          if (!vp) return;
          vp.querySelectorAll('[data-variant-picker-option-inputs]').forEach(g => {
            const c = g.querySelector('input[type="radio"]:checked');
            if (c) { const m = c.name.match(/-(\d+)$/); if (m) sel[m[1]] = c.value; }
          });
          const matchOpts = {};
          for (const [pos, val] of Object.entries(sel)) { matchOpts[parseInt(pos)] = val; }
          const match = this.variantPrices.find(v => {
            for (const [pos, val] of Object.entries(matchOpts)) {
              if (v.options[pos - 1] !== val) return false;
            }
            return true;
          });
          if (match) {
            const priceKr = match.price / 100;
            const compare = match.compare > match.price ? match.compare : 0;
            if (this.msSinglePrice) this.msSinglePrice.textContent = this.fmtMoney(priceKr);
            if (this.msSingleCompare) {
              this.msSingleCompare.textContent = compare ? this.fmtMoney(compare / 100) : '';
              this.msSingleCompare.style.display = compare ? '' : 'none';
            }
            if (this.msPackCompare) this.msPackCompare.textContent = this.fmtMoney(priceKr);
          }
        }

        _getItemTierPrice(item, tierIndex) {
          const tierPricesRaw = item.dataset.tierPrices;
          if (tierPricesRaw) {
            try {
              const tierPrices = JSON.parse(tierPricesRaw);
              if (tierPrices[tierIndex] > 0) return tierPrices[tierIndex];
            } catch(e) {}
          }
          const variant = this.variantPrices.find(v => v.id === parseInt(item.dataset.variantId));
          return variant ? variant.price / 100 : 0;
        }

        _getItemBasePrice(item) {
          const variant = this.variantPrices.find(v => v.id === parseInt(item.dataset.variantId));
          if (!variant) return 0;
          return (variant.compare > 0 ? Math.max(variant.compare, variant.price) : variant.price) / 100;
        }

        setMode(mode) {
          this.dataset.mode = mode;
          this.modeCards.forEach(card => {
            card.classList.toggle('bpk__ms-card--active', card.dataset.modeCard === mode);
          });
          if (!this._blocksFound) {
            this._blocksFound = true;
            const pi = this.closest('.product__info') || document.querySelector('.product__info');
            if (pi) {
              const pf = pi.querySelector('product-form');
              if (pf) { const b = pf.closest('[data-product-block]'); if (b) this.blocksToToggle.push(b); }
              const qs = pi.querySelector('.product-quantity__wrap');
              if (qs) { const b = qs.closest('[data-product-block]') || qs; this.blocksToToggle.push(b); }
            }
          }
          this.blocksToToggle.forEach(b => { b.style.display = mode === 'bundle' ? 'none' : ''; });
          const block = this.closest('[data-product-block]') || this.parentElement;
          if (block) {
            block.querySelectorAll('[option-picker-name]').forEach(picker => {
              picker.style.display = mode === 'bundle' ? 'none' : '';
            });
          }
          if (mode === 'single') {
            this.selectedItems = {};
          }
          this.updateUI();
        }

        fmt(kr) { return kr.toLocaleString('da-DK') + ' kr'; }
        fmtMoney(kr) { return kr.toLocaleString('da-DK', { minimumFractionDigits: 2, maximumFractionDigits: 2 }) + ' kr'; }

        onTabChange(tabValue) {
          this.currentTab = tabValue;
          this.tabs.forEach(tab => {
            tab.classList.toggle('bpk__size-tab--active', tab.dataset.bundleTab === tabValue);
          });
          this.items.forEach(item => {
            if (tabValue === 'all') {
              item.hidden = false;
            } else {
              item.hidden = (item.dataset.sizeValue || '') !== tabValue;
            }
          });
          this._updateProgressBarPrices(tabValue);
          this.updateUI();
        }

        onOptionChange() {
          this._updateSingleCardPrices();
        }

        getCurrentTier(total) {
          let tier = this.defaultTiers[0] || null;
          for (const t of this.defaultTiers) { if (total >= t.count) tier = t; }
          return tier;
        }

        addItem(item) {
          const vid = item.dataset.variantId;
          this.selectedItems[vid] = (this.selectedItems[vid] || 0) + 1;
          this.updateUI();
        }

        removeItem(item) {
          const vid = item.dataset.variantId;
          if (!this.selectedItems[vid]) return;
          this.selectedItems[vid]--;
          if (this.selectedItems[vid] <= 0) delete this.selectedItems[vid];
          this.updateUI();
        }

        getTotalItems() { return Object.values(this.selectedItems).reduce((s, q) => s + q, 0); }

        updateSlider(tier) {
          if (!this.sliderFill || !this.defaultTiers.length) return;
          const totalDots = this.tierDots.length;
          const activeIdx = tier ? tier.index : -1;
          this.tierDots.forEach(dot => {
            const idx = parseInt(dot.dataset.tierIndex);
            dot.classList.remove('bpk__slider-dot--reached', 'bpk__slider-dot--current');
            if (idx < activeIdx) dot.classList.add('bpk__slider-dot--reached');
            else if (idx === activeIdx) dot.classList.add('bpk__slider-dot--current');
          });
          if (totalDots < 2) { this.sliderFill.style.width = activeIdx >= 0 ? '100%' : '0%'; return; }
          const pct = activeIdx >= 0 ? (activeIdx / (totalDots - 1)) * 100 : 0;
          this.sliderFill.style.width = pct + '%';
        }

        updateUI() {
          const total = this.getTotalItems();
          const tier = this.getCurrentTier(total);
          const tierIndex = tier ? tier.index : 0;
          this.updateSlider(total > 0 ? tier : null);

          this.items.forEach(item => {
            const vid = item.dataset.variantId;
            const qty = this.selectedItems[vid] || 0;
            const addOneBtn = item.querySelector('[data-bundle-add-one]');
            const qtyWrap = item.querySelector('[data-bundle-qty-wrap]');
            const removeBtn = item.querySelector('[data-bundle-remove]');
            const countEl = item.querySelector('[data-bundle-item-count]');

            if (qty > 0) {
              if (addOneBtn) addOneBtn.style.display = 'none';
              if (qtyWrap) qtyWrap.style.display = '';
            } else {
              if (addOneBtn) addOneBtn.style.display = '';
              if (qtyWrap) qtyWrap.style.display = 'none';
            }
            if (countEl) countEl.textContent = qty;
            if (removeBtn) removeBtn.disabled = qty <= 0;
            item.classList.toggle('bpk__item--selected', qty > 0);

            const priceEl = item.querySelector('.bpk__item-price-current');
            const compareEl = item.querySelector('.bpk__item-price-compare');
            if (priceEl) {
              const tierPrice = this._getItemTierPrice(item, tierIndex);
              const basePrice = this._getItemBasePrice(item);
              priceEl.textContent = tierPrice > 0 ? this.fmtMoney(tierPrice) : '';
              if (compareEl) {
                const hasDiscount = basePrice > tierPrice && tierPrice > 0;
                compareEl.textContent = hasDiscount ? this.fmtMoney(basePrice) : '';
                compareEl.style.display = hasDiscount ? 'inline' : 'none';
              }
            }
          });

          if (this.addToCartBtn) this.addToCartBtn.disabled = total === 0;

          let totalPrice = 0;
          let totalCompare = 0;
          for (const [vid, qty] of Object.entries(this.selectedItems)) {
            if (qty <= 0) continue;
            const item = this.querySelector(`[data-variant-id="${vid}"]`);
            if (!item) continue;
            totalPrice += qty * this._getItemTierPrice(item, tierIndex);
            totalCompare += qty * this._getItemBasePrice(item);
          }

          if (this.btnPriceWrap) {
            if (total > 0 && totalPrice > 0) {
              this.btnPriceWrap.style.display = '';
              this.btnTotalEl.textContent = this.fmtMoney(totalPrice);
              const hasCompare = totalCompare > totalPrice;
              this.btnCompareEl.textContent = hasCompare ? this.fmtMoney(totalCompare) : '';
              this.btnCompareEl.style.display = hasCompare ? '' : 'none';
            } else {
              this.btnPriceWrap.style.display = 'none';
            }
          }
        }

        async addToCart() {
          const items = Object.entries(this.selectedItems).filter(([,q]) => q > 0).map(([id, quantity]) => ({ id: parseInt(id), quantity }));
          if (!items.length) return;
          this.addToCartBtn.disabled = true;
          this.addToCartBtn.classList.add('loading');
          try {
            const r = await fetch('/cart/add.js', { method: 'POST', headers: { 'Content-Type': 'application/json' }, body: JSON.stringify({ items }) });
            if (!r.ok) { const err = await r.text(); throw new Error(err); }
            const addedState = JSON.parse(await r.clone().text().catch(() => '{}'));

            const cartDrawer = document.querySelector('cart-drawer');
            if (cartDrawer && typeof cartDrawer.purchaseHandler === 'function') {
              const rootUrl = window.routes?.root_url || '/';
              const pageHtml = await fetch(rootUrl).then(res => res.text());
              const parsed = new DOMParser().parseFromString(pageHtml, 'text/html');
              const firstItem = addedState.items?.[0] || { id: items[0].id, quantity: items[0].quantity };
              this.selectedItems = {};
              this.updateUI();
              await cartDrawer.purchaseHandler(parsed, firstItem);
            } else {
              this.selectedItems = {};
              this.updateUI();
              window.location.href = '/cart';
            }
          } catch (e) { console.error('Bundle add-to-cart failed:', e); }
          finally { this.addToCartBtn.disabled = false; this.addToCartBtn.classList.remove('loading'); }
        }
      }
      customElements.define('bundle-variant-picker', BundleVariantPicker);
    }

    if (!window.__bvpGlobalInit) {
      window.__bvpGlobalInit = true;

      document.addEventListener('change', e => {
        if (!e.target.closest('[data-variant-picker-option-inputs]')) return;
        const section = e.target.closest('.shopify-section');
        if (!section) return;
        const bvp = section.querySelector('bundle-variant-picker');
        if (bvp && typeof bvp.onOptionChange === 'function') bvp.onOptionChange();
      });
    }
  </script>
{%- endif -%}

{% stylesheet %}
  /* Udsolgt: skrå streg på farveprik kun — tekst uden streg, bare dæmpet */
  .product-variant-picker__pill-list label.pill[no-available] {
    position: relative;
    overflow: visible;
  }

  .product-variant-picker__pill-list label.pill[no-available] .pill__color-swatch {
    position: relative;
    opacity: 0.55;
  }

  .product-variant-picker__pill-list label.pill[no-available] .pill__color-swatch::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 100%;
    height: 1px;
    background: rgba(0, 0, 0, 0.36);
    transform: translate(-50%, -50%) rotate(-45deg);
    pointer-events: none;
    border-radius: 0.5px;
  }

  .product-variant-picker__pill-list label.pill[no-available] .pill__label {
    color: #9a9a9a !important;
    opacity: 0.72;
    font-weight: 400;
  }

  .variant-picker-dropdown__item[no-available] {
    position: relative;
  }

  .variant-picker-dropdown__item[no-available] .variant-picker-dropdown__color-swatch {
    position: relative;
    opacity: 0.55;
  }

  .variant-picker-dropdown__item[no-available] .variant-picker-dropdown__color-swatch::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 100%;
    height: 1px;
    background: rgba(0, 0, 0, 0.36);
    transform: translate(-50%, -50%) rotate(-45deg);
    pointer-events: none;
    border-radius: 0.5px;
  }

  .variant-picker-dropdown__item[no-available] > span {
    color: #9a9a9a !important;
    opacity: 0.72;
    font-weight: 400;
  }
{% endstylesheet %}
